h1{
    color: #FBFBFB;
    font-family: courier;
}
body{
    background-color: #FBFBFB;
}
h1{
  text-align:left;
 color: purple;
}
table{
    width: 100%;
}
table, td,th{
    border: 7px solid black;
    border-collapse: collapse;
    text-align: center;
    border-color:  seagreen;
    background-color: palegreen;
    font-family:  fantasy;
}
th,td{
    padding: 20px;
}
a{font:bold 15px Courier New;
text-decoration: none;
color: #FFFFFF;
border: 2px solid #f2f2f2;
padding: 10px 20px 10px 20px;
border-radius: 5px;
transition: background 10s, color 10s;
background: #572364;
text-align:left;
background-position: left;
}
a :hover{
color: #DF8B25;
background-position: left;
}

th{color:navy;}
td{
    color:saddlebrown;
}
button{
    font:bold 15px Courier New;
    text-decoration: none;
    color: springgreen;
    border: 2px solid #f2f2f2;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    transition: background 5s, color 5s;
    background: #060F08;
    text-align:left;
    background-position: left;
    cursor: pointer;
}
footer{
    background-color: 	#9370D8;
    width: 100%;
    height: 20px;
    bottom: 0;position: fixed;
    text-align: center;
    color: #0000FF;
}
ul{
    width: 920px;
    margin: 0 auto;
    margin-top: 200px;
}
ul li{
    list-style: none;
}
ul li img{
    background-size: cover;
    border-radius: 6px;
    float:left;
    opacity: .6;
    margin-right: -5px;
    width: 200px;
    height: 200px;
    -webkit-transition: all .6s ease;
}
ul li img:hover{
    opacity: 1;
    border-radius: 200px;
    -webkit-transform: scale(1,2) rotate(360deg);
    box-shadow: 0px 0px 20px #ddd;
}
ul li img{
    text-align: center;
}
